* {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.nga_profile img {
    width: 120px;
    border-radius: 50%;
    border: 10px solid pink;
    display: flex;
}
.heading {
    padding-top: 20px;
    height: 100px;
    background-color: powderblue;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav-bar {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: powderblue;
    text-decoration: none;
}
.left-panel-profile {
    display: flex;
    justify-content: center;
    background-color: pink;
}
.article_intro {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration-color: salmon;
    text-decoration-style: bold;
}

.social-links img {
    width: 40px;
} 

.social-links-section {
    text-align: center;
}

.social-img {
    display: inline-block;
    margin-bottom: 2vh;  
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    margin-top: 0.5vh;
}

.nav-links a {
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

.nav-bar {
    max-width: 1080px;
    margin: auto;
    float: none;
}
.nav-wrapper {
    background-color: powderblue;
}
footer {
    text-align: center;
}
.footer-links a {
    text-decoration: none;
}

.footer-section {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/******************************/
/* Styling for work.html page */
/******************************/

.work-panel {
    width: 25vw;
}
.work-description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}
.years {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}
.work {
    display: flex;
    justify-content: space-evenly;
}