* {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.nga_profile img {
    width: 120px;
    border-radius: 50%;
    border: 10px solid pink;
    display: flex;
}
.header {
    background-color: powderblue;
}
.heading {
    padding-top: 10px;
    height: 50px;
    background-color: powderblue;
    display: flex;
    align-items: center;
}
.sub-heading {
    background-color: powderblue;
    margin-left: 5vw;
    height: 3em;
    display: flex;
    align-items: center;
}
.sub-heading-wrapper {
    background-color: powderblue;
}
.nav-bar {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: powderblue;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: hotpink;
}

.nav-bar {
    max-width: 1080px;
    margin: auto;
    float: none;
}
.nav-wrapper {
    background-color: powderblue;
}
.nav-links a {
    text-decoration: none;
}
.left-panel-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}
.article_intro {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration-color: salmon;
    text-decoration-style: bold;
}
.social-links img {
    width: 40px;
} 
.social-links-section {
    text-align: center;
    min-height: 20vh;
}
.social-img {
    display: inline-block;
    margin-bottom: 2vh;  
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    margin-top: 0.5vh;
}
footer {
    text-align: center;
    min-height: 10vh;
}
.footer-links a {
    text-decoration: none;
}

.footer-section {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.copy-right {
    display: flex;

}

/******************************/
/* Styling for work.html page */
/******************************/


.description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}
.description-bold {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    height: 2em;
    display: flex;
    align-items: center;
}
.work {
    display: flex;
    justify-content: space-evenly;
    background-color: powderblue;
}
.panel {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.education {
    display: flex;
    justify-content: space-evenly;
    background-color: powderblue;
}
.education-panel {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* ********************* */
/* Responsive to mobile  */
/* ********************* */

@media screen and (max-width: 375px) {
	.nav-links {
        display: flex;
		flex-direction: column;
    }
    .work {
        min-width: 100%;
		flex-direction: column;
    }
    .panel {
        width: 355px;
    }

    .education {
        min-width: 100%;
		flex-direction: column;
    }
    .education-panel {
        width: 355px;
    }
}

/* ********************* */
/* Responsive to tablet  */
/* ********************* */

@media screen and (max-width: 960px) {}
	.navbar {
		padding: 0;
		flex-direction: column;