* {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.nga_profile img {
    width: 120px;
    border-radius: 50%;
    border: 10px solid pink;
    display: flex;
}
.header {
    background-color: powderblue;
}
.author {
    padding-top: 10px;
    height: 50px;
    background-color: powderblue;
    display: flex;
    align-items: center;
}
h1 {
    font-family: 'Sassy Frass', cursive;
    font-size: 40px;
}
.author {
    display: flex;
    justify-content: center;
}
h2 {
    font-family: 'JetBrains Mono';
    font-size: 1.6;
}
h3 {
    font-family: 'JetBrains Mono';
    font-size: 1.4em;
}
.page-title {
    display: flex;
    justify-content: center;
}
.sub-heading {
    background-color: powderblue;
    height: 3em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 2vh;
}
/* .sub-heading-wrapper {
    background-color: powderblue;
} */
/* mouse over link */
a:hover {
    color: hotpink;
}
.nav-bar {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: powderblue;
    text-decoration: none;
    max-width: 508px;
    margin: auto;
    float: none;
}

.nav-wrapper {
    background-color: powderblue;
}
a {
    text-decoration: none;
}
.left-panel-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}
.article_intro {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration-color: salmon;
    text-decoration-style: bold;
}
.social-links img {
    width: 40px;
} 
.social-links-section {
    text-align: center;
    min-height: 20vh;
}
.social-img {
    display: inline-block;
    margin-bottom: 2vh;  
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    margin-top: 0.5vh;
}
/* Styling footer container */
footer {
    height: 50px;
    background-color: powderblue;
}
.footer-wrap {
    display: flex;
    justify-content: center;
    background-color: powderblue;
    align-items: center;
}
.footer-links a {
    margin-left: 5px;
    text-decoration: none;
}
.footer-links {
    margin-left: 5px;
}

.copy-right {
    display: flex;
    justify-content: end;
    /* font-size: 0.7em; */
}
h4.copy-right {
    font-size: 0.5em;
}

/******************************/
/* Styling for work.html page */
/******************************/
.flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
  }

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}
.description-bold {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    height: 2em;
    display: flex;
    align-items: center;
}
.work {
    display: flex;
    justify-content: space-evenly;
    background-color: powderblue;
}
.work-panel {
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: left;
    padding: 1em;
    /* padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; */
    margin-bottom: 20px;
    
}

.education {
    display: flex;
    justify-content: space-evenly;
    background-color: powderblue;
}
.education-panel {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/******************************/
/* Styling for blog.html page */
/******************************/

.blog-flex-grid {
    display: flex;
  }
  .blog-blurb {
    flex: 1;
  }



/******************************/
/* Styling for Single blog page */
/******************************/
.single-blog-author-date {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 1em;
}
.single-blog-img-container {
    display: flex;
    justify-content: center;
}
img.single-blog-img {
    width: 50%;
    border-radius:10px
}
/* .single-blog-flex-grid-container {
    display: flex;
    text-align: center;
    flex-direction: column;
} */
.single-blog-flex-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 20px;
}
.single-blog-blurb {
    flex: 1;
    padding: 20px 20px 20px;
}

.single-blog-container-fixed {
    padding: 10px 350px 20px;
}
h4.blog-weights-h4-title {
    padding-left: 20px;
}
h4.single-blog-text-center {
    display: flex;
    justify-content: center;
}

/******************************/
/* Styling for Contact Me page */
/******************************/

.form-box {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 800px;
}
input.submit-button {
    margin: 1em;
}



/* ********************* */
/* Responsive to mobile  */
/* ********************* */

@media screen and (max-width: 428px) {
	.nav-bar {
        flex-wrap: wrap;
    }
    .work {
        max-width: 100%;
        display: flex;
        justify-content: center;
		flex-direction: column;
    }
    
    .work-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img {
        display: flex;
        justify-content: center;
    }
    .description {
        padding: 10px 10px 30px;
    }

    .education {
        max-width: 100%;
		display: flex;
        justify-content: center;
		flex-direction: column;
    }
    .education-panel {
        width: 355px;
    }
    .copy-right {
        display: flex;
        justify-content: center;
    }
    .sub-heading {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .page-title {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .description {
        font-size: 1.2em;
    }
    .description-bold {
        font-size: 1.2em;
    }
    /* Single Blog Section */
    .single-blog-container-fixed {
        padding: 10px 10px 20px;
    }
    img.single-blog-img {
        width: 90vw;
    }
    .single-blog-flex-grid {
        display: flex;
        padding: 10px 10px 0px;
        display: flex;
        flex-direction: column;
    }
    .single-blog-blurb {
        flex: 1;
        padding: 10px 10px 10px;
    }
    h4.blog-weights-h4-title {
        padding-left: 10px;
    }
    footer {
        padding-bottom: 30px;
    }
}

/* ********************* */
/* Responsive to tablet  */
/* ********************* */

@media screen and (max-width: 962px) {
	.navbar {
		padding: 0;
		flex-direction: column;
    }
    .copy-right {
        display: flex;
        justify-content: center;
    }

}